html, body {
    height: 100%;
}

.container {
    /* display: flex;
    flex-direction: column; */
    padding: 15px;
    margin: 10px;
    /* background: linear-gradient(to top right, #FAFAFA, #D8D8D8); */
    /* background: linear-gradient(to right, #25CCB8, #9966ff); */
    background: linear-gradient(to left, #e0e4cc, #a7dbd8);
    border-radius: 10px;
    min-height: 90%;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

.sassy-app {
    /* Rectangle: */
    background-image: linear-gradient(-180deg, #c78331 1%, #cd645e 90%);
    /* border: 1px solid #979797; */
    width: 320px;
    height: 512px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .sassy-app-title {
    /* Sassy Scale: */
    /* Not supported on enough browsers ;-( */
    /* font-family: cooper-black-std, Astigmatic, Hobo-std, phosphate, serif; */
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    color: #7e21df;
    text-align: center;
  }
  
  .weight-question {
      font-family: "Arial Black", Gadget, sans-serif;
  }

  .sassy-button {
    /* Rectangle 3: */
    background: #eee4dc;
    border: 1px solid #979797;
    border-radius: 44px;
    height: 49px;
    width: 6em;
    font-size: 2em;
    color: #6682ff;
    font-weight: 700;
  }
  
  .sassy-app {
    text-align: center;
    margin: 0 auto;
  }
  
  #output {
    font-family: Roboto;
    color: #66FFD6;
    font-size: 32px;
    font-weight: 500;
    margin: 10px;
  }
  
  .sassy-scale-scale p {
    text-align: center;
    color: #7e21df;
    font-weight: 500;
  }

  .footer {
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    color: #9966ff;
    padding-top: 13px;
    margin-top: -10px;
    border-radius: 10px;
  }

  .footer a {
    text-decoration: none;
    color: #9966ff;
  }
  
  a:visited {
    /* color: #4A4A4A; */
    text-decoration: none;
  }
  
  a:hover {
    /* color: rgb(114, 116, 206); */
    /* color: #C85FEB; */
    /* color: #B19CD9; */
  
    /* Websafe and bright */
    /* color: #9966ff; */
    color: rgb(31, 31, 31);
  }
  
  a:active {
    color: #fafafa;
  }